h1 = @new.head

p = simple_format text_url_to_link(h(@new.article)).html_safe


= link_to "destroy", @new, method: :delete, data: { confirm: 'destroy?' } 

br

= link_to "edit", edit_news_path

br

= link_to 'Back', news_index_path